# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AMTitan.github.io.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\AMTitan.github.io\.idea\.idea.AMTitan.github.io.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
